<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Todo View" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
    <!-- greeting -->
    <h1><% current = Time.current.hour %>
    <%= if current >= 5 && (current < 12)
      "Good Morning!"
    elsif current >= 12 && (current < 17)
      "Good Afternoon!"
    elsif current >= 17 && (current < 21)
      "Good Evening!"
    else
      "Good Night!"
    end %></h1>

    <!-- total visit -->
    <% if @visit_count > 1 %>
      <p>Your total visit is <%= @visit_count %> times.</p>
    <% else %>
      <p>Welcome! This is your first visit.</p>
    <% end %>
    
    <!-- page visit -->
    <% if @page_visit > 1 %>
      <p>You have visited this page <%= @page_visit %> times.</p>
    <% else %>
      <p>This is your first time on this page.</p>
    <% end %>

    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <!-- Last visit time -->
      <% if @page_visit > 1 %>
        <p>Last Visited: <%= time_ago_in_words(session[:last_visited])%> ago</p>
      <% else %>
        <p>You have never visited before.</p>
      <% end %>
    </footer>
  </body>
</html>